.jumbotron {
    background-image: url("./assets/limmer-hurl-big.jpeg");
    background-size: 100% auto;
    background-position: center;
    color: white;
}

.card-text {
    height: 5em;
}

#welcome-summer {
    box-shadow: 3px 2px lightgrey;
}

.testimonial {
    border-radius: 50%;
    max-width: 75px;
}
